In [23]:
import pandas as pd
from sklearn import tree

In [2]:
dataset=pd.read_csv("C:/Users/ASUS/Downloads/train.csv")

In [3]:
dataset.head()  #age gender fare

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [16]:
dataset1=dataset.drop(['PassengerId', 'Pclass','Name','SibSp','Parch','Ticket','Cabin','Embarked'], axis = 1)

In [17]:
from sklearn.preprocessing import LabelEncoder
lr=LabelEncoder()

In [18]:
dataset1['Sex'] = lr.fit_transform(dataset1['Sex'])

In [20]:
dataset1

     Survived  Sex   Age     Fare
0           0    1  22.0   7.2500
1           1    0  38.0  71.2833
2           1    0  26.0   7.9250
3           1    0  35.0  53.1000
4           0    1  35.0   8.0500
..        ...  ...   ...      ...
884         0    1  27.0  13.0000
885         1    0  19.0  30.0000
886         0    0  45.0  23.4500
887         1    1  26.0  30.0000
888         0    1  32.0   7.7500

[889 rows x 4 columns]

In [22]:
predictor=pd.DataFrame([dataset1['Sex'], dataset1['Age'], dataset1['Fare']]).T

In [108]:
model=tree.DecisionTreeClassifier(max_depth=5) #we can control the depth here by using (max_depth=10)

In [109]:
model.fit(X=predictor,y=dataset1['Survived'])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [110]:
with open("Treefile1.dot",'w')as f:
    f= tree.export_graphviz(model, feature_names=['Sex','Age','Fare'],out_file=f);

In [111]:
model.score(X=predictor,y=dataset1['Survived'])

0.8233970753655793

In [112]:
test=pd.read_csv("C:/Users/ASUS/Downloads/test.csv")

In [113]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,S

# Dropped the not required colums from the test data. It is not needed as we are mapping the required data to test_features later.

In [114]:
test1=test.drop([ 'Pclass','Name','SibSp','Parch','Ticket','Embarked'], axis = 1)

In [115]:
test1.head()

   PassengerId     Sex   Age     Fare
0          892    male  34.5   7.8292
1          893  female  47.0   7.0000
2          894    male  62.0   9.6875
3          895    male  27.0   8.6625
4          896  female  22.0  12.2875

In [116]:
test1['Sex'] = lr.fit_transform(test1['Sex'])

In [117]:
test1.head()

   PassengerId  Sex   Age     Fare
0          892    1  34.5   7.8292
1          893    0  47.0   7.0000
2          894    1  62.0   9.6875
3          895    1  27.0   8.6625
4          896    0  22.0  12.2875

In [118]:
test_features=pd.DataFrame([test1['Sex'], test1['Age'], test1['Fare']]).T

In [119]:
test_pred=model.predict(X=test_features)

In [120]:
predicted_output=pd.DataFrame({"PassengerId":test1["PassengerId"],"Survived":test_pred})

In [121]:
predicted_output.to_csv("output.csv", index=False);

In [122]:
from sklearn.ensemble import RandomForestClassifier

In [123]:
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [124]:
features=['Sex','Age','Fare']

In [125]:
rf_model.fit(X=predictor,y=dataset1['Survived'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features=2, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [126]:
print(rf_model.oob_score_);

0.7862767154105736