In [50]:
import pandas as pd
from sklearn import tree

In [51]:
dataset=pd.read_excel("C:/Users/ASUS/Downloads/Bank_Personal_Loan_Modelling.xlsx", sheet_name='Data')

In [52]:
dataset.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

#### Deleted the columns not so important

In [53]:
dataset1=dataset.drop(['ID', 'ZIP Code'], axis = 1)

In [54]:
dataset1.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1

#### mapped the important columns to be worked on to a variable

In [55]:
predictor=pd.DataFrame([dataset1['Experience'], dataset1['Age'], dataset1['Income'],dataset1['Family'], dataset1['CCAvg'], dataset1['Education'],dataset1['Mortgage'], dataset1['Securities Account'], dataset1['CD Account'],dataset1['Online'], dataset1['CreditCard']]).T

#### Now to select the most useful colums for classification, we use randomforestclassifier

In [56]:
from sklearn.ensemble import RandomForestClassifier

In [57]:
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [58]:
features=['Experience','Age','Income','Family','CCAvg','Education','Mortgage','Securities Account','CD Account','Online','CreditCard']

In [59]:
rf_model.fit(X=predictor,y=dataset1['Personal Loan'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features=2, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [60]:
print('The oob score is\n',rf_model.oob_score_)

The oob score is
 0.988

In [61]:
for feature,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp)

Experience 0.04459908296293223
Age 0.04446277636511938
Income 0.3491385488519798
Family 0.09697590674735987
CCAvg 0.18197001611968097
Education 0.1617769776139313
Mortgage 0.04411382357459402
Securities Account 0.005362356514951021
CD Account 0.05380021517526472
Online 0.008346499805750153
CreditCard 0.009453796268436286

In [62]:
#now selcet the import features and write them into a file and also change the values of predictor for oob score but as there is rarely any bad data, select all features

#### As all the features are important, all the columns are selected and model is fitted

In [63]:
rf_model.fit(X=predictor,y=dataset1['Personal Loan'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features=2, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [64]:
model=tree.DecisionTreeClassifier(max_depth=5)
model.fit(X=predictor,y=dataset1['Personal Loan'])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [65]:
with open("TreefileBankLoan.dot",'w')as f:
    f= tree.export_graphviz(model, feature_names=['Experience','Age','Income','Family','CCAvg','Education','Mortgage','Securities Account','CD Account','Online','CreditCard'],out_file=f);

In [66]:
model.score(X=predictor,y=dataset1['Personal Loan'])

0.9898